<!DOCTYPE html>
<html>

{include file="common/head" /}

<body>
  <!-- 头部 -->
 {include file="common/top" /}
  <!-- /头部 -->
  <div class="main-container container-fluid">
    <div class="page-container">
      <!-- Page Sidebar -->
      {include file="common/leftnav" /}
      <!-- /Page Sidebar -->
      <!-- Page Content -->
      <div class="page-content">
        <!-- Page Breadcrumb -->
        <div class="page-breadcrumbs">
          <ul class="breadcrumb">
            <li><a href="#">系统</a></li>
            <li class="active">配置管理</li>
          </ul>
        </div>
        <!-- /Page Breadcrumb -->
        <!-- Page Body -->
        <div class="page-body">
          <button type="button" class="btn btn-sm btn-azure btn-addon"> 网站配置
          </button>
          <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
              <div class="widget">
                <div class="widget-body">
                  <div class="flip-scroll">
                    <form method="post" action="">
                      <table class="table table-bordered table-hover">
                        <thead class="">
                          <tr>
                           
                            <th class="text-right" width="10%">配置名称</th>
                            <th class="text-left">配置值</th>
                          
                          </tr>
                        </thead>
                        <tbody>
                          <?php foreach($confres as $k => $v):?>
                          <tr>
                            <td align="right"><?php echo $v['cnname'];?></td>
                            <td align="left">
                              <?php if($v['type']==1):?>
                                <input type="text" class="form-control" style="width: 50%" value="<?php echo $v['value'];?>" name="<?php echo $v['enname'];?>">
                              <?php elseif($v['type']==2):?>
                                <textarea name="<?php echo $v['enname'];?>" class="form-control" style="resize: none;width: 50%;"><?php echo trim($v['value']);?></textarea>
                              <?php elseif($v['type']==3):
                                  if($v['values']){
                                    $arr=explode(',',$v['values']);
                                  }
                                  foreach($arr as $k1 => $v1):
                                ?>
                                  <label style="margin-right: 15px;">
                                    <input type="radio" <?php if($v['value'] == $v1){echo 'checked';}?> value="<?php echo $v1;?>" name="<?php echo $v['enname'];?>">
                                    <span class="text"><?php echo $v1;?></span>
                                  </label>
                                  
                                  <?php endforeach;?>
                              <?php elseif($v['type']==4):?>
                                  <label>
                                    <input type="checkbox" <?php if(!empty($v['value'])){echo 'checked';}?> value="<?php echo $v['values'];?>" name="<?php echo $v['enname'];?>">
                                    <span class="text"><?php echo $v['values'];?></span>
                                  </label>
                              <?php elseif($v['type']==5):
                                 if($v['values']){
                                    $arr=explode(',',$v['values']);
                                  }
                              ?>
                                <select name="<?php echo $v['enname']?>" class="form-control" style="width: 50%">
                                <?php foreach($arr as $k1 => $v1):?>
                                  <option <?php if($v['value'] == $v1){echo 'selected';}?> value="<?php echo $v1;?>"><?php echo $v1;?></option>
                                <?php endforeach;?>
                                </select>
                              <?php endif;?>
                            </td>
                           
                          </tr>
                          <?php endforeach;?>
                          
                        </tbody>
                      </table>
                      <div style="margin-top: 20px;width: 55%;text-align: right;">
                        <input class="btn btn-md btn-primary" type="submit" value="提交更改">
                      </div>
                    </form>
                  </div>
                  <div class="text-right" style="margin-top:10px;"><!--*秘制占位*-->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Page Body -->
      </div>
      <!-- /Page Content -->
    </div>
  </div>
  <!--Basic Scripts-->
  <script src="__ADMIN__/style/jquery_002.js"></script>
  <script src="__ADMIN__/style/bootstrap.js"></script>
  <script src="__ADMIN__/style/jquery.js"></script>
  <!--Beyond Scripts-->
  <script src="__ADMIN__/style/beyond.js"></script>
</body>

</html>