<!DOCTYPE html>
<html>

{include file="common/head" /}

<body>
  <!-- 头部 -->
 {include file="common/top" /}
  <!-- /头部 -->
  <div class="main-container container-fluid">
    <div class="page-container">
      <!-- Page Sidebar -->
    	{include file="common/leftnav" /}
      <!-- /Page Sidebar -->
      <!-- Page Content -->
      <div class="page-content">
        <!-- Page Breadcrumb -->
        <div class="page-breadcrumbs">
          <ul class="breadcrumb">
            <li><a href="#">系统</a></li>
            <li class="active">配置管理</li>
          </ul>
        </div>
        <!-- /Page Breadcrumb -->
        <!-- Page Body -->
        <div class="page-body">
          <button type="button" tooltip="添加用户" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '{:url('conf/add')}'"> <i class="fa fa-plus"></i> Add
          </button>
          <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
              <div class="widget">
                <div class="widget-body">
                  <div class="flip-scroll">
                    <form method="post" action="">
                      <table class="table table-bordered table-hover">
                        <thead class="">
                          <tr>
                            <th class="text-center" width="8%">ID</th>
                            <th class="text-center" width="8%">排序</th>
                            <th class="text-left">中文名称</th>
                            <th class="text-left">英文名称</th>
                            <th class="text-left">配置类型</th>
                            <th class="text-center" width="16%">操作</th>
                          </tr>
                        </thead>
                        <tbody>
                          {volist name="confres" id="vo"}
                          <tr>
                            <td align="center">{$vo['id']}</td>
                            <td align="center">
                              <input style="width: 50px;text-align: center;" type="text" value="{$vo['sort']}" name="{$vo['id']}">
                            </td>
                            <td align="left">{$vo['cnname']}</td>
                            <td align="left">{$vo['enname']}</td>
                            <td align="left">
                              {if condition="$vo['type'] eq 1"}
                              单行文本
                              {elseif condition="$vo['type'] eq 2 "}
                              多行文本
                              {elseif condition="$vo['type'] eq 3 "}
                              单选按钮
                              {elseif condition="$vo['type'] eq 4 "}
                              多选按钮
                              {elseif condition="$vo['type'] eq 5 "}
                              下拉菜单
                              {else}
                              未知类型
                              {/if}
                            </td>
                            <td align="center">
  														<a href="{:url('edit',array('id'=>$vo['id']))}" class="btn btn-primary btn-sm shiny">
  															<i class="fa fa-edit"></i> 编辑
  														</a>
                             
  														<a href="javascript:;" onClick="warning('确实要删除吗', '{:url('del',array('id'=>$vo['id']))}')" class="btn btn-danger btn-sm shiny">
  															<i class="fa fa-trash-o"></i>删除
  														</a>
                             
                            </td>
                          </tr>
                        {/volist}
                        <tr>
                          <td colspan="7">
                            <input class="btn btn-sm btn-primary" type="submit" value="排序">
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </form>
                  </div>
                  <div class="text-right" style="margin-top:10px;"><!--*秘制占位*-->
                  {$confres->render()}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Page Body -->
      </div>
      <!-- /Page Content -->
    </div>
  </div>
  <!--Basic Scripts-->
  <script src="__ADMIN__/style/jquery_002.js"></script>
  <script src="__ADMIN__/style/bootstrap.js"></script>
  <script src="__ADMIN__/style/jquery.js"></script>
  <!--Beyond Scripts-->
  <script src="__ADMIN__/style/beyond.js"></script>
</body>

</html>